target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.idea/
*.iml
.vscode/*
!.vscode/settings.json
.settings/
*.swp
*.swo
.DS_Store
Thumbs.db

uploads/
.env
*.log

# Arquivos locais do sistema / IDE
*.class
sources.txt